{% extends 'security/security_base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('app_login') }}" method="post">
		<div class="mb-3">
			<label for="_username" class="form-label">Email address</label>
			<input type="email" class="form-control" id="_username" aria-describedby="emailHelp" name="_username" value="{{ last_username }}">
			<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
		</div>

		<div class="mb-3">
			<label for="_password" class="form-label">Password</label>
			<input type="password" class="form-control" id="_password" name="_password">
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button type="submit" class="btn btn-primary">Sign in</button>

		<div class="text-center">
			<p>Not a member?
				<a href="{{ path('app_register') }}">Register</a>
			</p>
		</div>
	</form>

{% endblock body %}
