{% extends 'base.html.twig' %}

{% block title %}Task Hub
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Welcome to Task Hub!</h1>

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<p>Access to:</p>
			<ul>
				<li><a href="{{path('board_get_all')}}">My Kanbans</a></li>
			</ul>
		{% endif %}

		{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
			<p>You have to sign in to unlock all the features!</p>
			<a href="{{ path('app_login') }}" class="btn btn-primary">Sign in</a>
		{% endif %}

	</div>
{% endblock %}
