.kanban-board {
  display: flex;
  padding: 0 6px;
}

.bootstrap-card {
  align-items: flex-start;
  padding: 0 6px;
}

.kanban-list {
  flex-direction: column;

  .list-title {
    &:hover {
      background-color: rgba(177, 238, 169, 0.877);
      cursor: pointer;
    }
  }
}

.kanban-card {
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #ffffff;

  &:hover {
    border: 5px solid rgba(177, 238, 169, 0.877);
    cursor: pointer;
  }
}

.btn-add-modify:hover {
  background-color: rgba(177, 238, 169, 0.877);
}

.is-dragging {
  background-color: rgba(177, 238, 169, 0.877);
  color: white;
}

.kanban-menu {
  display: flex;
  gap: 25px;
  padding: 10px;
}
