{% extends 'base.html.twig' %}

{% block title %}Hello KanbanController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper" {{ stimulus_controller('kanban--draganddrop')|stimulus_controller('components--delete') }}>
		<h1>My boards!</h1>

		<table id="boards-all" class="table table-hover table-bordered center-table">
			<thead class="table-light bg-back-office">
				<tr>
					<th>Title</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for board in boards %}
					<tr id="board-{{ board.id }}" class="text-center align-middle" style="padding: 10px">
						<td>{{ board.title }}</td>
						<td>
							<a href="{{ path('board_get_one', {id:board.id}) }}" class="button" style="color: initial;">
								<i class="fa-solid fa-magnifying-glass fa-2x"></i>
							</a>
							<a href="{{ path('board_update', {id:board.id}) }}" class="button" style="color: initial;">
								<i class="fas fa-pen-square fa-2x"></i>
							</a>
							<a href="#" class="button" style="color: red;" data-bs-toggle="modal" data-bs-name="{{ board.id }}" data-bs-target="#deleteModal" {{ stimulus_action('components--delete', 'confirmDelete', 'click', { 'id': board.id, 'title': board.title } ) }}>
								<i class="fas fa-trash-alt fa-2x"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div style="padding-top: 20px">
			<a href="{{ path('board_add') }}" class="button" style="color: initial;">
				<i class="fa-solid fa-circle-plus fa-3x"></i>
			</a>
		</div>

		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">{{ 'Confirmation of deletion' | capitalize }}</h5>
						<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col">
								{{ 'do you really want to delete'|capitalize }}
								?
							</div>
						</div>
						<div class="row">
							<div class="col" {{ stimulus_target('components--delete', 'title') }}></div>
						</div>
						<div style="display: none" {{ stimulus_target('components--delete', 'idToDelete') }}></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'cancel'|capitalize }}</button>
						<a class="btn btn-danger" href="" {{ stimulus_target('components--delete', 'deleteConfirmButton') }} {{ stimulus_action('components--delete', "fillHref") }}>{{ 'delete'|capitalize }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
