{% extends 'base.html.twig' %}

{% block title %}Hello KanbanController!
{% endblock %}

{% block body %}
	<div {{ stimulus_controller('kanban--draggable-api')|stimulus_controller('kanban--kanban-update') }}>
		<h1>{{ board.title }}</h1>

		<div class="kanban-menu">
			<form id="add-card" data-path="{{ path('card_add') }}">
				<div class="mb-3">
					<input type="text" placeholder="New card..." id="card-input" class="form-control"/>
				</div>
				<div class="mb-3">
					<select id="selectedList" class="form-select">
						{% for list in board.listsInBoard %}
							<option value="{{ list.id }}">{{ list.title }}</option>
						{% endfor %}
					</select>
				</div>
				<a href="#" class="btn btn-add-modify" {{ stimulus_action('kanban--kanban-update', 'addCard') }}>
					<i class="fa-solid fa-plus"></i>
					Add a card
				</a>
			</form>

			<form id="add-list" data-path="{{ path('list_add') }}">
				<div class="mb-3">
					<input type="text" placeholder="New list..." id="list-input" class="form-control"/>
				</div>
				<a href="#" class="btn btn-add-modify" {{ stimulus_action('kanban--kanban-update', 'addList', 'click', { 'boardId': board.id } ) }}>
					<i class="fa-solid fa-plus"></i>
					Add a list
				</a>
			</form>
		</div>

		<div class="kanban-board">

			{% for list in board.listsInBoard %}
				<div class="bootstrap-card">
					<div class="card text-bg-light" style="width: 18rem;">
						<div class="card-body" id="pathUpdateListOfCard" data-path="{{ path('card_update_list') }}">
							<div class="kanban-list" id="{{ list.id }}">
								<div id="pathUpdateListTitle" data-path="{{ path('list_update_title') }}"></div>
								<h5 class="card-title list-title" id="listTitle-{{ list.id }}" {{ stimulus_action('kanban--kanban-update', 'updateListTitle', 'click', { 'listId': list.id, 'listTitle': list.title } ) }}>{{ list.title }}</h5>

								{% for card in list.cards %}
									<div class="kanban-card" draggable="true" id="{{ card.id }}" data-bs-toggle="modal" data-bs-name="{{ card.id }}" data-bs-target="#cardDetail-{{ card.id }}">
										<p>{{ card.title }}</p>
									</div>

									<div class="modal fade" id="cardDetail-{{ card.id }}" tabindex="-1" role="dialog" aria-labelledby="cardDetail-{{ card.id }}-Label" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="cardDetail-{{ card.id }}">{{ card.title }}</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<div class="row align-items-center">
														<div class="col">Content:</div>
														<div class="col">
															<a href="#" class="btn btn-add-modify" id="pathModifyContent" data-path="{{ path('card_update_content') }}" {{ stimulus_action('kanban--kanban-update', 'updateCardContent', 'click', { 'cardId': card.id } ) }}>Modify</a>
														</div>
													</div>
													<div class="row" style="padding-top: 20px">
														<div class="col">
															<textarea class="form-control" id="cardContent-{{ card.id }}">{{ card.content }}</textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}
