<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<div>
				<a class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-label="Open">
					<i class="fas fa-bars fa-3x"></i>
				</a>

				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
					<div class="offcanvas-header">
						<h1 class="offcanvas-title" id="offcanvasLabel">Menu</h1>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<a href="{{ path('home') }}" class="nav-link">
							<h3>
								<i class="fa-solid fa-house"></i>
								Home</h3>
						</a>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a href="{{ path('board_get_all') }}" class="nav-link">
								<h3>
									<i class="fa-solid fa-table-columns"></i>
									My Kanbans</h3>
							</a>
							<div class="dropdown">
								<button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									{{ app.user.email }}
								</button>
								<ul class="dropdown-menu">
									<li>
										<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
									</li>
								</ul>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</header>

		<div class="container" style="margin-top: 20px;"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
